<header>

  <img id="logo" src="../../assets/fotos/logoooo.png">

  <div class="container">
    <div class="search-box">
      <input type="text" class="search-input" placeholder="Search..">

      <button class="search-button">
        <i class="fas fa-search">Buscar</i>
      </button>
    </div>
  </div>

  <ul id="register">
    <li class="navega"><a routerLink="/registre" routerLinkActive="active" href="Registre">IniciarSessión</a></li>
  </ul>

  <br>

</header>

<button (click)="requestCodiPeli()">TEST</button>

<!--<video width="1000px" height="1000px">-->
<!--  <source src="http://localhost:3000/src/assets/Trailer_de_Pocoyo_y_La_Liga_De_Los_Super_Amigos_CARICATURAS_y_DIBUJOS_ANIMADOS_para_ninos_720p.mp4" type="video/mp4">-->
<!--</video>-->
<div style="display: flex">
  <table>
    <tr>
      <ng-container *ngFor="let video of videoList">
        <p (click)="toggleAndRequestVideo(video)">{{video.title}}</p>
        <ng-container *ngIf="video.opened">
          <ng-container *ngIf="!verified">
            <img src="assets/loading.gif" alt="loading gif">
            {{codi}}
          </ng-container>
          <ng-container *ngIf="verified">
<!--            <img src="assets/fotos/logoooo.png"/>-->
            <video src="http://169.254.180.117/assets/Trailer_de_Pocoyo_y_La_Liga_De_Los_Super_Amigos_CARICATURAS_y_DIBUJOS_ANIMADOS_para_ninos_720p.mp4"></video>
          </ng-container>
        </ng-container>
      </ng-container>
    </tr>
  </table>
</div>

<footer>
  <p>Pagina creada per Ismael Naciri, Marc Rubio y Alex Blanco</p>
</footer>
