<header>

  <img id="logo" src="../../assets/fotos/logoooo.png">

  <div class="container">
    <div class="search-box">
      <input type="text" class="search-input" placeholder="Search..">

      <button class="search-button">
        <i class="fas fa-search">Buscar</i>
      </button>
    </div>
  </div>

  <ul id="register">
    <li class="navega"><a routerLink="/registre" routerLinkActive="active" href="Registre">IniciarSessión</a></li>
  </ul>

  <br>

</header>

<button (click)="requestCodiPeli()">TEST</button>


<footer>
  <p>Pagina creada per Ismael Naciri, Marc Rubio y Alex Blanco</p>
</footer>
