#formulariConteianer{
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 200px;
  width: 400px;
}

#tituloForm{
  font-size: 30px;
  font-weight: 700;
}

#formulari{
  display: flex;
  flex-direction: column;
}

#buttonForm{
  margin-top: 10px;
}


